# Copy the .dist file and modify the copy as your local PHPUnit configuration file.
tests/phpunit.xml
# Ignore PhpStorm IDE files
.idea
js/node_modules
npm-debug.log
# Ignore Mac DS_Store files
.DS_Store
js/babel-compiled
js/babel-compiled-test