default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\Tests\permissions_by_term\Behat\Context\PermissionsByTermContext
      paths:
        features: '%paths.base%/modules/permissions_by_term/tests/src/Behat/Features'
  extensions:
    Behat\MinkExtension:
      browser_name: chrome
      javascript_session: selenium2
      default_session: selenium2
      goutte: ~
      selenium2:
        wd_host: "http://localhost:4444/wd/hub"
        browser: "chrome"
        capabilities: { "browserName": "chrome", "browser": "chrome", "version":  "*", "chrome": { switches: ["--no-sandbox"] } }
      base_url: http://localhost:80
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      drush:
        alias: 'local'
      drupal:
        drupal_root: '%paths.base%'
