default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\Tests\permissions_by_term\Behat\Context\PermissionsByTermContext
      paths:
        features: '/home/jepster/PhpstormProjects/permissions-by-term-behat/modules/permissions_by_term/tests/src/Behat/Features'
  extensions:
    Behat\MinkExtension:
      javascript_session: 'selenium2'
      browser_name: 'chrome'
      show_cmd: "open %s"
      selenium2:
        wd_host: 'http://localhost:4444/wd/hub'
        browser: 'chrome'
      base_url: http://pbt
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      drush:
        alias: 'local'
      drupal:
        drupal_root: '/home/jepster/PhpstormProjects/permissions-by-term-behat'