{#
/**
 * @file
 * Default theme implementation for a date / time element.
 *
 * Available variables
 * - attributes: (optional) HTML attributes to apply to the block.
 * - widgets: The widgets to be rendered.
 * - async: If we want to render JS ASsynchronously.
 * - attached: Array of libraries to add, according to the widget definition.
 *
 */
#}
<div class="easy-social googleplus">
 <div  {{ attributes }}></div>
</div>