{#
/**
 * @file
 * Default theme implementation for a date / time element.
 *
 * Available variables
 * - example_share_link: The markup for the example share link.
 *
 */
#}
<div class="easy-social example">
    {{ example_share_link }}
</div>