{
  "ignore": [
    "node_modules",
    "package.json",
    "package-json.lock",
    "drupal-behavior-function",
    "webpack-dist"
  ],
  "plugins": [
    "transform-es2015-arrow-functions",
    "transform-es2015-modules-commonjs"
  ],
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          "last 2 versions", "ie >= 11"
        ]
      }
    }]
  ]
}
